{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>欢迎来到司法大数据平台</h1>
</div>
<form method=post enctype=multipart/form-data>
      <input type=file name=file>
        <label>上传案例文件</label>
    <br>
    <input type=submit value=Upload>
        <label>展示</label>
</form>
<div class="container">
<form method="POST">
    {{ form.hidden_tag() }}
    <textarea rows="20" cols="120">
        {{ form.text.data }}
    </textarea>
</form>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}