{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>欢迎来到司法大数据平台</h1>
</div>
<form method=post enctype=multipart/form-data>
      <input type=file name=file>
    <p>已选择文件：{{ form.fileLabel.data }}</p>
        <input type=submit value=上传 style="padding: 3px;background-color: #d4dbec;
    border-radius: 10px;
    height: 30px;
    border: NONE;
    width: 60px;">
        <br>
</form>
<div>
<form method="POST">
    {{ form.hidden_tag() }}
    <textarea rows="20" cols="120" style="
    width: 800px;
    border: 5px solid lightgrey;
    padding: 5px;">
        {{ form.text.data }}
    </textarea>
</form>
    <p>请选择你想要寻找最相似文本的相似基准</p>
    {{ wtf.quick_form(form) }}-->
</div>
{% endblock %}
