{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>欢迎来到司法大数据平台</h1>
</div>
<div class="container">
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
        <label>上传案例文件</label>
    <br>
    <input type=submit value=Upload>
        <label>展示</label>
    </form>
    <div>
        <div style="float:left">
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>被查找文本</p>
            <textarea rows="20" cols="70">
                {{ form.text.data }}
            </textarea>
            <p>我们预估的您要查找的值为</p>
            <textarea rows="20" cols="70">
                {{ form.textGuess.data }}
            </textarea>
        </form>
    </div>
        <div style="float:left">
            <form>
                <p>相似度最高案例</p>
                {{ form.hidden_tag() }}
                <textarea rows="20" cols="70">
                    {{ form.similarText.data }}
                </textarea>
                <p>姓名 {{ form.similarname.data }}</p>
                <p>性别 {{ form.similarsex.data }}</p>
                <p>出生地 {{ form.similarbirthplace.data }}</p>
                <p>民族 {{ form.similarnation.data }}</p>
                <p>案发时间 {{ form.similartime.data }}</p>
                <p>案由 {{ form.similarexcuse.data }}</p>
                <p>相关法院 {{ form.similarrelativeCourt.data }}</p>
            </form>
        </div>
    </div>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}