<!--
 * 这里我们试着去完善一下，首先是引入vue，然后传入复选框
 * @Descripttion: 
 * @version: 
 * @Author: Lian Jianheng
 * @Date: 2021-11-28 16:20:49
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2021-12-10 15:09:00
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        *
        {
            box-sizing: border-box;
        }
        .rowMenu
        {
            list-style-type:none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .rowMenu li
        {
            float: left;
        }
        .rowMenu li a
        {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }
        .rowMenu li a:hover
        {
            background-color: blueviolet;
        }
        .rowMenu li a:active
        {
            background-color: darkgreen;
        }
        .myButton
        {
            padding: 16px 32px;
            text-align: center;
        }
        .dirCar:link
        {
            display:block;
	        font-weight:bold;
	        color:#FFFFFF;
	        width:160px;
	        text-align:center;
	        padding:4px;
	        text-decoration:none;
        }
        .dirCar:hover
        {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/FileSaver.js/2.0.4/FileSaver.js">
        <input type="button" id="export" value="保存"/>
    </script> -->
    <script>
        var result=document.getElementById("result");  
        var file=document.getElementById("file");
        function uploadFile()
        {
            let reads = new FileReader();
            var file = document.getElementById('uploadFile1').files[0];
            reads.readAsText(file, 'utf-8');
            reads.onload=function(f)
            {
                var result = document.getElementById("textArea");
                result.innerText = this.result;
            }
        }
        function storeClick()
        {
            alert("保存成功");
        }
    </script>
    <form action="">
        <input type="file" id="uploadFile1" name="上传案例文件"  accept=".txt">
        <input type="button" value="读取文本文件" onclick="uploadFile()" />  
    </form>
    <textarea id="textArea" rows="20" cols="80">
    </textarea>
    <div id="app" class="main">
        <ul class="rowMenu">
            <li>
                <input class="myButton" type="button" @click="nameMethod" value="当事人">
            </li>
            <li>
                <input class="myButton" type="button" @click="sexMethod" value="性别">
            </li>
            <li>
                <input class="myButton" type="button" @click="MinMethod" value="民族">
            </li>
            <li>
                <input class="myButton" type="button" @click="homeMethod" value="出生地">
            </li>
            <li>
                <input class="myButton" type="button" @click="excuseMethod" value="案由">
            </li>
            <li>
                <input class="myButton" type="button" @click="relativeMethod" value="相关法院">
            </li>
        </ul>
        <template v-if="seenName">
            <input type="checkbox">
            <label>牛喜</label>
            <input type="checkbox">
            <label>刘某甲</label>
            <input type="checkbox">
            <label>丁成飞</label>
            <input type="checkbox">
            <label>李加玺</label>
            <input type="checkbox">
            <label>高　蕾</label>
            <input type="checkbox">
            <label>范　治</label>
        </template>
        <template v-if="seenSex">
            <input type="checkbox">
            <label >男</label>
            <input type="checkbox">
            <label >女</label>
        </template>
        <template v-if="seenMin">
            <input type="checkbox">
            <label>汉族</label>
            <input type="checkbox">
            <label>回族</label>
        </template>
        <template v-if="seenHome">
            <input type="checkbox">
            <label>陕西省西安市</label>
            <input type="checkbox">
            <label>西安市××区××村××号付×号</label>
            <input type="checkbox">
            <label>XX村北侧北三环绿化带</label>
            <input type="checkbox">
            <label>陕西省西安市XX区XX村</label>
            <input type="checkbox">
            <label>西安市××区××村××号付×号</label>
        </template>
        <template v-if="seenExcuse">
            <input type="checkbox">
            <label>抢劫罪</label>
            <input type="checkbox">
            <label>抢劫罪</label>
            <input type="checkbox">
            <label>抢劫罪</label>
            <input type="checkbox">
            <label>抢劫罪</label>
        </template>
        <template v-if="seenRelative">
            <input type="checkbox">
            <label>陕西省高级人民法院</label>
            <input type="checkbox">
            <label>陕西省西安市中级人民法院审理西安市人民检察院</label>
        </template>
    </div>
    <div>
        <form action="" method="get">
            <input type="button" id="save" value="保存案件和备注" onclick="storeClick()" height="100">
        </form>
    </div>
    <a href="https://wenshu.court.gov.cn/" class="dirCar">裁判文书网直通车<img src="E:\homeworks\homeworks_second_up\数据科学基础\bigProject\someFile\dirMove.png" width="600">
    </a>
    <script>
        const myApp=Vue.createApp({
            data(){
                return{
                    seenSex:false,
                    seenMin:false,
                    seenName:false,
                    seenHome:false,
                    seenExcuse:false,
                    seenRelative:false
                }
            },
            methods:{
                sexMethod(){
                    this.seenSex=true
                    this.seenMin=false
                    this.seenName=false
                    this.seenHome=false
                    this.seenExcuse=false
                    this.seenRelative=false
                },
                nameMethod(){
                    this.seenSex=false
                    this.seenMin=false
                    this.seenName=true
                    this.seenHome=false
                    this.seenExcuse=false
                    this.seenRelative=false
                },
                homeMethod(){
                    this.seenHome=true
                    this.seenSex=false
                    this.seenMin=false
                    this.seenName=false
                    this.seenExcuse=false
                    this.seenRelative=false
                },
                excuseMethod(){
                    this.seenExcuse=true
                    this.seenSex=false
                    this.seenMin=false
                    this.seenName=false
                    this.seenHome=false
                    this.seenRelative=false
                },
                MinMethod(){
                    this.seenMin=true
                    this.seenSex=false
                    this.seenName=false
                    this.seenHome=false
                    this.seenExcuse=false
                    this.seenRelative=false
                },
                relativeMethod(){
                    this.seenMin=false
                    this.seenSex=false
                    this.seenName=false
                    this.seenHome=false
                    this.seenExcuse=false
                    this.seenRelative=true
                }
            }
        })
        myApp.mount("#app")
    </script>
</body>
</html>